<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta</title>
    <link rel="stylesheet" type="text/css" href="/style/latter/latter.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="page">
            <div class="margin"></div>

            <p>Querida Ana Carolina,</p>

            <p> Queria escrever uma carta de amor, mas não achei palavras para expressá-la, o que eu sinto não se
                expressa por um simples pedaço de papel. O amor nem sempre vem pelas mesmas portas que entramos, ele
                vem
                por diversas vias, que às vezes nem sempre imaginamos. </p>

            <p> Eu tenho que te agradecer pela imensa oportunidade de fazer parte da sua vida, sou grato por cuidar
                tão
                bem de mim e fazer todo momento se tornar especial. Posso ter vivido anos antes de você, mas foi
                apenas
                depois de te conhecer que entendi como é não estar sozinho. Sua companhia é um presente que eu não
                sei
                se verdadeiramente mereço ter. Porém, prometo me esforçar a cada dia para me tornar merecedor de
                todo
                esse amor.</p>

            <p> O bem que você me faz é o que eu quero para sempre desfrutar. Quando eu olho para você, vejo todas
                as
                coisas mais lindas que existem no mundo. Você é o combo perfeito: Olhos que me trazem a paz que eu
                tanto
                preciso, a alegria que me contagia, me faz vibrar e querer viver ainda mais. Ao seu lado eu me torno
                a
                pessoa mais feliz que poderia existir. </p>

            <p> Não sou o melhor namorado, nem somos um casal perfeito: isso não
                existe! Mas somos tão felizes e tão completos, mesmo com nossas imperfeições. Sabemos contornar
                qualquer
                obstáculos, pois eles sempre são pequenos diante daquilo que alimentamos todos os dias: o respeito,
                a
                cumplicidade, amor e um pouco de estresse para poder manter o equilíbrio (rs). </p>

                <div class="row">
                    <div class="col-lg-6">
                        <p class="mt-5">
                            Eu te amo! ❤️
                        </p>
            
                        <p>
                            Assinado: Ezequiel Lobo
                        </p>
                    </div>
                    <div class="col-lg-6" style="height: auto; display: flex; align-items: center; justify-content: center;">
                    <a href="../index.html" style="text-decoration: none;">
                        <button>
                            VOLTAR
                            <div class="arrow-wrapper">
                                <div class="arrow"></div>
                        
                            </div>
                        </button>
                    </a>
                    </div>
                </div>

         

        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>